.serif{
    font-family: 'Times New Roman', Times, serif;
}
.nserif{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.mono{
    font-family: monospace;
}
.fs{
    font-style: italic;
}
.fw{
    font-weight: bolder;
}